/*
* @Author: Jordan Oroshiba
* @Date:   2016-04-29 21:25:56
* @Last Modified by:   Jordan Oroshiba
* @Last Modified time: 2016-05-04 02:06:53
*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #C9E6F0;
}
.btn-default:hover{
  background-color: #C9E6F0;
}
.dropdown-menu li a:hover{
  background-color: #C9E6F0;
}
body{
  padding-top: 70px;
 /*background-image: url('../images/bg_bluegradient.jpg');*/
  /*background-size: cover;*/
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/* .container{
  background: white;
} */
